modules = ["nodejs-20", "bash", "web", "postgresql-16"]
[agent]
expertMode = true
integrations = ["javascript_stripe:1.0.0"]

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 5173
externalPort = 5173

[[ports]]
localPort = 33557
externalPort = 3002

[[ports]]
localPort = 35781
externalPort = 5000

[[ports]]
localPort = 37999
externalPort = 3001

[[ports]]
localPort = 38731
externalPort = 3000

[[ports]]
localPort = 44061
externalPort = 3003

[[ports]]
localPort = 44763
externalPort = 4200

[deployment]
deploymentTarget = "autoscale"
run = ["npm", "run", "start"]
build = ["npm", "run", "build"]
